# Importing Library

In [1]:
import pandas as pd
import numpy as np

### Loading Data

In [2]:
data = pd.read_csv("C:\\Users\\Ronit Rangwani\\Desktop\\ML codes\\1.Data Handling\\Employee.csv")

In [3]:
data.head()

   Employee_ID  Gender Remark
0           45    Male   Nice
1           78  Female   Good
2           56  Female  Great
3           12    Male  Great
4            8  Female   Nice

### Checking the labels in column

In [4]:
data['Gender'].unique()

array(['Male', 'Female'], dtype=object)

In [6]:
data['Remark'].unique()

array(['Nice', 'Good', 'Great'], dtype=object)

### Checking the count of the labels

In [8]:
data['Gender'].value_counts()

Male      6
Female    6
Name: Gender, dtype: int64

In [9]:
data['Remark'].value_counts()

Nice     4
Good     4
Great    4
Name: Remark, dtype: int64

# Approach 1 - Label Encoding

##### Label Encoder encodes labels with the value between 0 and number_of_class-1

In [10]:
from sklearn.preprocessing import LabelEncoder
label_encoder_X = LabelEncoder()

In [12]:
label_encoded_data = label_encoder_X.fit_transform(data['Remark'])

In [13]:
label_encoded_data = pd.DataFrame(data=label_encoded_data ,columns = ['Remark'])

In [14]:
label_encoded_data

    Remark
0        2
1        0
2        1
3        1
4        2
5        1
6        0
7        0
8        2
9        1
10       2
11       0

In [16]:
label_encoded_data['Remark'].unique()

array([2, 0, 1])

## Approach 2 - One Hot Encoding

##### Binary Labeling with 1 at the position where the label is present else 0

In [19]:
one_hot_encoded_data = pd.get_dummies(data ,columns =['Remark','Gender'])

In [20]:
one_hot_encoded_data

,Employee_ID,Remark_Good,Remark_Great,Remark_Nice,Gender_Female,Gender_Male
0,45,0,0,1,0,1
1,78,1,0,0,1,0
2,56,0,1,0,1,0
3,12,0,1,0,0,1
4,8,0,0,1,1,0
5,69,0,1,0,0,1
6,77,1,0,0,1,0
7,4,1,0,0,0,1
8,33,0,0,1,0,1
9,9,0,1,0,1,0
10,1,0,0,1,0,1
11,36,1,0,0,1,0